@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #0f141a;
    color: #c7ccce;
    font-family: Helvetica;
}

.header{
    background-color: #1b202b;
    font-family: "Playfair Display";
}

.main-header {
    display: flex;
    flex-wrap: wrap;
}

.nav {
    flex-grow: 1;
    text-align: center;
}

.nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav li {
    display: inline;
    height: 100%;
    display: flex;
    padding: 0px 10px;
}

.nav a {
    text-decoration: none;
    color: #c7ccce;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.nav a:hover {
    border-top: 2px solid #c7ccce;
}

.site-logo {
    margin: 10px;
    height: 30px;
}

.site-logo:hover{
    cursor: pointer;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 1.5em;
}

.title {
    font-size: 5em;
}

.calculator-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0%;
    flex-wrap: wrap;
}

.calculator {
    display: inline-block;
    background-color: #c7ccce;
    width: clamp(300px, 65%, 500px);
    height: 400px;
    margin: 40px 5px;
    border: 5px red solid;
    border-radius: 1em;
}

.calculator-title {
    color: black;
}